.tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.tabs-label{
    padding: 10px 16px;
}

.tabs-radio{
    display: none;
}

.tabs-content{
    order: 1;
    width: 100%;
    display: none;
}

.tabs-radio:checked+.tabs-label{
    font-weight: bold;
    color: #009578;
    transition: 0s;
}

.tabs-radio:checked+.tabs-label+.tabs-content{
    display: initial;
}


