.block-tabs {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.tabs {
  @apply text-[1.5vw] mx-[2.5vw] bg-red-700 max-lg:text-base max-md:text-sm max-sm:text-xs w-[10vw] max-lg:w-[100px] max-md:w-[75px] max-sm:w-[66px];
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 500ms;
}

.active-tabs {
  @apply text-red-700;
  background-color: #faebd7;
  position: relative;
}

.active-tabs::after {
  @apply bg-red-700;
  content: "";
  position: absolute;
  width: 50%;
  height: 0.15vw;
  bottom: 0;
  left: 25%;
}

.content-tabs {
  @apply p-[2vw] rounded-[3vw];
  background-color: #faebd7;
  width: 100%;
}

.content {
  display: none;
}

.content h2 {
  @apply text-[2vw] max-lg:text-xl max-md:text-lg max-sm:text-base;
}

.content p {
  @apply text-[1.5vw] max-lg:text-lg max-md:text-base max-sm:text-sm;
}

.active-content {
  display: flex;
  animation: crescendo 5s infinite;
}

/* @keyframes crescendo {
  0% {transform: scale(0.8);}
  100% {transform: scale(1);}
} */

.active-content-main {
  @apply flex flex-col w-[100%];
}

.active-content-main h2 {
  @apply mb-2;
}

.content .img-box {
  @apply w-[45vw] h-[35vh] max-lg:w-[450px] max-lg:h-[200px] max-md:w-[400px] max-sm:w-[350px] max-md:h-[150px] max-sm:h-[100px] max-[500px]:h-[100px] max-[500px]:w-[150px];
  margin: auto;
}

.img {
  @apply w-full h-full m-auto;
  object-fit: contain;
}
