.portföy {
  color: #4b586f;
  font-size: 1vw;
}

.ozellik_kutusu {
  @apply w-full flex justify-between text-[1.5vw] items-start mb-[.375vw];
}

.emlakcı-button {
  @apply w-full p-[.375vw] relative text-[1.2vw] bg-cyan-100 text-blue-800 rounded-[0.5vw];
  border: 1px solid #cffafe;
}

.emlakcı-button:hover {
  border: 1px solid #1e40af;
  background-color: transparent;
}

.ana-resim {
  @apply w-full rounded-[1.5vw] duration-500;
}

.emlakcı-kutusu {
  @apply absolute -right-[1vw] bottom-0 p-[.75vw] bg-slate-50 rounded-[0.5vw] w-[25%];
}
