.box-container {
  @apply  flex w-full items-center mb-2 lg:mb-[1vw] rounded-lg max-sm:flex-col;
  background-color: #fdfdfd;
}

.box-container .img-box {
  @apply w-[35%] max-sm:w-full  h-full;
  padding: .25rem;
}

.ozellikler {
  @apply lg:text-[1.5vw]/[1.75vw] text-lg;
  display: flex;
  flex-wrap: wrap;
  color: #3d3d43;
  font: bold;
}

.ozellik-kutusu {
  @apply flex w-fit mr-1 justify-center items-center rounded-lg p-1 mb-1;
  background-color: rgb(190, 190, 190);
}

.ozellik-icerik {
  @apply ml-1;
}

.fiyat-durum {
  @apply flex justify-between items-center w-full px-1;
  margin: 0.4rem 0;
}

.fiyat {
  @apply lg:text-[1.5vw] text-lg font-bold;
}

.durum {
  @apply text-red-500 lg:text-[1.25vw];
  background-color: rgb(190, 190, 190);
  padding: 4px 8px;
  border-radius: 10px;
}

.konum {
  @apply lg:text-[2vw] flex text-lg items-center my-1;
  color: #3d3d43;
  font: bold;
}

.konum-bilgisi {
  margin-left: 0.25rem;
}

.emlak-bilgi{
  border-left: 1px solid #3d3d43;
}



/* .btn {
  @apply flex w-[100px] justify-center items-center p-1 rounded-lg my-3;
  background-color: #f67009;
  border: 2px solid transparent;
  color: #3d3d43;
}

.btn-icon {
  transition: 0.4s;
}

.btn:hover {
  color: #f67009;
  border: 2px solid #f67009;
  background-color: transparent;
} */
